<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Just send in chat: <%= @code %> to approve your email.
    </p>
    <p>If you do not know what this mail mean just ignore that.</p>
  </body>
</html>
